body {
    background-color: rgb(33, 82, 174);
}

h1 {
    font-family: 'Pacifico', sans-serif;
    color: rgb(7, 7, 99);
    font-size:xx-large;
    text-align: center;
}

h2 {
    color: rgb(7, 7, 99);
    font-family: 'Pacifico', sans-serif;
    font-size: 30px;
    margin-left: 40px;
}

p {
    font-family: 'fraunces', sans-serif;
}

.subtitulo {
    font-family: 'Fraunces', sans-serif;
    margin-left: 600px;
    margin-top: -520px;
}