body {
    background-color: rgb(33, 82, 174);
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(7, 7, 99);
    font-size:xx-large;
    text-align: center;
}

h2 {
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: medium;
} 